<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="createpost.css">
	<script src="https://kit.fontawesome.com/09484f03db.js" crossorigin="anonymous"></script>

</head>
<body>
	<div class="newsfeed">

	<div class="div1"><div class="div1_name">Tạo bài viết</div></div>
	<div class="div2">
		<div class="div21"><img class="avatar_newsfeed" src="D:\CSS course\FacebookCSS\Image\avatar_me.jpg"></div>
		<div class="div22"><input type="text" class="newsfeed_input" name="" placeholder="Thạch ơi, Bạn đang nghĩ gì"> </div>
	</div>
	<div class="div3">
		<div class="photo choose">
			<i class="fas fa-image"></i>
			<div class="choose_name">Ảnh/Video	</div>
		</div>
		<div class="choose">
			<i class="fas fa-user-tag"></i>
			<div class="choose_name">Gắn thẻ bạn bè</div>
		</div>
		<div class="choose">
			<i class="far fa-laugh"></i>
			<div class="choose_name">Hoạt động cảm xúc</div>
		</div>
		<div class="choose">
			<div data-tooltip-delay="500" data-tooltip-content="" data-tooltip-display="overflow" class="_2aha"></div>
		</div>
	</div>
		</div>
	
</body>
</html>